<form [formGroup]="searchFormGroup">
  <div class="row">
    <h2 class="h3 mb-3 font-weight-normal">Search Directory</h2>
  </div>

  <div class="hr">
    <hr>
  </div>

  <div class="row">
    <div class="col span-1-of-3">
      <label class="reqAst">*</label>
      <label for="searchFirst">Find by first name or last name</label>
    </div>
    <div class="col span-1-of-3">
      <input id="searchFirst" class="form-control" placeholder="Enter at least 1 letter" formControlName="name" >
    </div>
  </div>

  <div class="row">
    <div class="col span-1-of-3">

    </div>
    <div class="col span-1-of-3 button">
      <button  type="submit" class="btn btn-lg btn-primary btn-block trigger_popup_fricc"
              (click)="search()">Search</button>
    </div>
  </div>
  <div style="float: right;" class="alert alert-danger" role="alert" *ngIf="showError == true"> Some Error Occured !</div>
</form>



<div class="hover_bkgr_fricc" *ngIf="showResult">
  <span class="helper"></span>
 
  <div>

    <div class="popupCloseButton" (click)="hideResult()">X</div>
    <h3>Search results for "{{searchName}}"</h3>
      <h4 *ngIf="!( person == '' || person == undefined) " style="color: #337ab7;"> {{person.length}} records found </h4>
    <h4 *ngIf="person.length === 0" style="color:#d63031;">No matching results found !</h4>

    <br>
    <table *ngFor="let user of person" class="table table-bordered">
      <tbody>

      <tr>
        <th><img src="{{user.image}}" alt=""> </th>
        <td style="font-size: 30px;
                            font-weight: bold;
                            vertical-align: middle;">{{user.firstName}} {{user.lastName}}</td>
      </tr>

      <tr>
        <th>Age </th>
        <td>{{user.age}}</td>
      </tr>
      <tr>
        <th>Address </th>
        <td>{{user.location.address}}, {{user.location.city}}, {{user.location.state}}, {{user.location.zip}} </td>
      </tr>
      <tr>
        <th>Country </th>
        <td>{{user.location.country}}</td>
      </tr>
      <tr>
        <th>Interests </th>
        <td>{{user.interests}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

